<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MoLIC_WOz_Desktop_User.Properties.Settings.db_molic_wozConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Documents and Settings\gustavomg\Desktop\Documentos\Gerais\PUC\Mestrado\MoLIC_WOz\Aplicacao\db_molic_woz.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>